/**
 * Article Preview block styles.
 */

.wp-block-block-party-article-preview {
	border: 1px solid black;

	a {
		line-height: 0;
		text-decoration: none;

		&:hover img,
		&:focus img {
			filter: brightness(.8);
		}

		&:hover .wrapper,
		&:focus .wrapper {
			background-color: #eee;
		}
	}
	
	.wrapper {
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 2fr;
		transition: background-color 150ms ease;
	}

	.image {
		align-self: stretch;
		overflow: hidden;

		img {
			height: 100%;
			object-fit: fill;
			object-position: center;
			width: 100%;
			transition: all 150ms ease;
		}
	}

	.text {
		line-height: 1.4;
		padding: 1rem;

		> * + * {
			margin-block-start: 1rem;
		}
	}

	.title {
		font-weight: bold;
		font-size: 1.2rem;
	}

	.description {
		display: none;
		font-size: 1rem;
	}

	&.has-layout--card {
		.wrapper {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
		}

		.description {
			display: block;
		}
	}
}
